@media screen and (min-width: 768px) {
  .collapsed-board-title {
    height: 80vh;
    border-radius: 6px;
    writing-mode: vertical-rl;
    width: 55px;
  }
}
.collapsed-board-title {
  padding: 10px;
}
